<div class="d-flex flex-column align-items-center py-3">
  <h1 class="my-5">Bem vindo ao Task List</h1>
  <h3 class="my-5">Sua lista de tarefas</h3>
  <%= link_to 'âš™ï¸ Gerenciar Tarefas', tasks_path(), class: "main_button btn btn-primary d-flex flex-row align-items-center justify-content-center rounded" %>
</div>
