.flex-container > a:first-of-type {
    width: 100px;
    height: 35px;

    margin: 0;

    border: none;

    background: rgb(189, 189, 189);
}

div.column, div.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.column {
    flex-direction: column;
} 

div.row {
    flex-direction: row;
}

input[type="submit"].input_submit_edit  {
    background-color: #60b3e7;
}
input[type="submit"].input_submit_create  {
    background-color: #66ff99;
}

input[type="text"].input_text_edit {
    outline-color: #60b3e7;
}
input[type="text"].input_text_create {
    outline-color: #66ff99;
}

