.flex-container > a:first-of-type {
    width: 200px;
    height: 65px;
    
    margin-bottom: 50px;

    background-color: #66ff99;
    
    font-size: 15px;
}

ul.card {
    width: 30%;
    height: 85px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style-type: circle;
    
    margin-top: 20px;
    
    border-radius: 5px;
    
    transition: 0.7s;
    
    background: #f3f2f2;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

ul li {
    width: 65%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 22px;
}

ul a {
    width: 75px;
    height: 35px;

    font-size: 11px;
}

ul > a:first-of-type {
    background-color: #60b3e7;
}

ul > a:last-of-type {
    margin: 0 5px 0;
    
    background-color: #f07878;
}

@media screen and (max-width: 600px) {
    ul.card {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
    ul.card {
        width: 60%;
    }
}
